<script lang="ts">
  import { browser } from "$app/environment";
  import { replaceState } from "$app/navigation";
  import { onMount } from "svelte";
  import cyberpunkFont from "$lib/Cyberpunk-Regular.woff2";

  const searchParams = new URLSearchParams(browser ? window.location.search : "");

  let canvas: HTMLCanvasElement;
  let ctx: CanvasRenderingContext2D | null = null;
  let canvasStyle: CSSStyleDeclaration;
  let resultUrl = "";

  const updateSearch = (key: string, value: string | number, defaultValue: string | number) => {
    if (value === searchParams.get(key) || value === defaultValue) return;
    searchParams.set(key, value + "");

    try {
      if (browser) replaceState("?" + searchParams.toString(), {});
    } catch (err) {
      //
    }
  };

  let value = searchParams.get("text") || "Cyberpunk";
  $: value = value.replaceAll(/[^a-zA-Z ]/g, "");
  $: updateSearch("text", value, 0);

  let fontSize = parseFloat(searchParams.get("size") || "16");
  $: updateSearch("size", fontSize, 16);

  let shadowDistance = parseFloat(searchParams.get("shadowDistance") || "0.05");
  $: updateSearch("shadowDistance", shadowDistance, 0.05);

  let shadowOpacity = parseFloat(searchParams.get("shadowOpacity") || "1");
  $: updateSearch("shadowOpacity", shadowOpacity, 1);

  onMount(() => {
    ctx = canvas.getContext("2d");
    canvasStyle = getComputedStyle(canvas);

    const font = new FontFace("Cyberpunk", `url(${cyberpunkFont})`);
    document.fonts.add(font);
    Promise.all([document.fonts, font.load()]).then(() => (value = value + "1"));
  });

  const setParams = (size: number) => {
    if (!ctx) return;
    ctx.font = `${size}px Cyberpunk`;
    ctx.textAlign = "center";
    ctx.textBaseline = "middle";
  };

  $: if (ctx) {
    const shadowOffset = fontSize * shadowDistance;

    setParams(fontSize);
    const measurement = ctx.measureText(value);
    canvas.width = measurement.width + shadowOffset;
    canvas.height = measurement.actualBoundingBoxAscent + measurement.actualBoundingBoxDescent + shadowOffset;

    setParams(fontSize);
    ctx.fillStyle = canvasStyle.getPropertyValue("--cyan");
    ctx.globalAlpha = shadowOpacity;
    ctx.fillText(value, canvas.width * 0.5 + shadowOffset, measurement.actualBoundingBoxAscent + shadowOffset);
    ctx.fillStyle = canvasStyle.getPropertyValue("--yellow");
    ctx.globalAlpha = 1;
    ctx.fillText(value, canvas.width * 0.5, measurement.actualBoundingBoxAscent);

    resultUrl = canvas.toDataURL("image/png");
  }
</script>

<h1>Cyber Text Generator</h1>
<p>
  Just a funky little little tool to generate text with a font.<br />
  The font is still in development, let me (@Zhincore) know if you need specific text fixed.
</p>

<noscript>
  <p style:color="red">
    This page requires JavaScript!<br />
    <small>I'm looking at you, Mana.</small>
  </p>
</noscript>

<form>
  <label>
    Your Text:

    <input bind:value placeholder="Link Harder" />
  </label>

  <label>
    <div style="display:flex;gap:0.25rem;align-items:center">
      Font Size:
      <input type="number" bind:value={fontSize} style:width="5em" min={10} max={128} />
    </div>
    <input type="range" bind:value={fontSize} min={10} max={128} />
  </label>

  <label>
    <div style="display:flex;gap:0.25rem;align-items:center">
      Shadow Distance:
      <input type="number" bind:value={shadowDistance} style:width="5em" min={0} step={0.01} max={0.2} />
    </div>
    <input type="range" bind:value={shadowDistance} min={0} step={0.01} max={0.2} />
  </label>

  <label>
    <div style="display:flex;gap:0.25rem;align-items:center">
      Shadow Opacity:
      <input type="number" bind:value={shadowOpacity} style:width="5em" min={0} step={0.1} max={1} />
    </div>
    <input type="range" bind:value={shadowOpacity} min={0} step={0.1} max={1} />
  </label>
</form>

<canvas bind:this={canvas} style:display="none" />
<img alt={value} src={resultUrl} />

<div style="margin: 0.5rem 0;opacity:0.5;font-size:small">
  Now you can right-click the image and choose "Save Image As" or "Copy Image".<br />
  <small>"Copy Image Link" will kinda work, but don't do it xD</small>
</div>

<style>
  :root {
    --yellow: #f3e600;
    --cyan: #04daf6;
  }

  :global(body) {
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100svh;
    max-height: 100%;
    min-width: 100svw;
    max-width: 100%;
    margin: 0;
  }

  h1 {
    font-family: "Cyberpunk";
    font-weight: normal;
    font-size: 300%;
  }
  p {
    font-size: smaller;
    margin: 2rem 0.5rem;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0.5rem;
  }
  label {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
    font-size: 90%;
  }

  img {
    min-height: 4rem;
    object-fit: scale-down;
    object-position: center;
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
  }

  @font-face {
    src: url("$lib/Cyberpunk-Regular.woff2");
    font-family: "Cyberpunk";
    font-display: block;
  }
</style>
